.customers__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: $primary-text-color;
    margin-bottom: 50px;
}

.customers__list {
    @media screen and (min-width: $mobile) and (max-width: 1199px) {
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: $mobile) {
        display: flex;
    }
}

.customers__item {
    @media screen and (max-width: 479px) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        max-width: 210px;
    }

    @media screen and (min-width: $mobile) and (max-width: 1199px) {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        width: calc((100% - 3 * 30px) / 3);
        margin: 15px;
    }

    @media screen and (min-width: $desktop) {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.customers__links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    border: 1px solid $social-bg-color;
    border-radius: 4px;
    color: $social-bg-color;

    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $desktop) {
        width: 170px;
    }

    &:hover,
    &:focus {
        border-color: $accent-color;
        color: $accent-color;
        outline: none;
    }
}

.customers__icon {
    fill: currentColor;
}