$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$secondary-accent-color: #188ce8;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$footer-hero-bg-color: #2f303a;
$footer-contacts-text: rgba(255, 255, 255, 0.6);
$white-color-text: #ffffff;
$black-color-tex: #000000;
$social-bg-color: #afb1b8;
$bg-color-projects: #eeeeee;
$header-line-color: #ececec;
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;